.logo{
    width: 70px;
    height: 70px;
    position: relative;
    margin-right:80% ;
}


.tarjeta1 {
    background-color:#1F628E!important;
}

.tarjeta2 {
    background-color: #5B696F!important;  
}